.App {
  text-align: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding: 0 10px;
}

.table_container {
  display: flex;
  justify-content: center;
}

table {
  border-spacing: 0;
}

th, td {
  padding: 5px 10px;
}

th {
  background: #dddddd;
}

td {
  border: 1px solid black;
  border-right: none;
  border-bottom: none;
}

tr:last-child td {
  border-bottom: 1px solid black;
}

td:last-child {
  border-right: 1px solid black;
}
